@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%21%40%23%24%25%5E%26%2A%28%29%2D%5F%3D%2B%5B%5D%7B%7D%3B%3A%27%22%2C%2E%3C%3E%2F%3F%5C%7C%60%7E&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {

  color-scheme: light;
}

.dark {

  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Chiron GoRound TC', var(--font-noto);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* 영문/숫자는 Chiron, 한국어는 Noto Sans KR 순서로 적용합니다. */
  font-family: 'Chiron GoRound TC', var(--font-noto), sans-serif !important;
}